body{
    background-color:black;
    color: white;
    font-family: 'Sans-serif', 'verdana', monospace;
}

header{
    background-image: url("carro.webp");
    background-position: center;
    padding: 280px;
    top: 0px;
    right: 0px;
    font-size: 18px;   
}

.jo{
    position: absolute;
    top: 8px;
    left: 40px;
}

.in{
    position: absolute;
    top: 8px;
    right: 40px;
}

hr{
    border: 3px solid #8b0000;
    border-radius: 5px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
}

.ti{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 25px;
}

.ma {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 40px;
}

button{
    position: center;
    background-color: #8b0000;
    color: white;
    font-family: 'Sans-serif', 'verdana', monospace;
    border: none;
    border-radius: 5px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px;
}

#buttons{
    display: flex;
    justify-content: center;
}